<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njzhenghou.mapper.LockMapper">


    <resultMap id="lockMap2" type="Lock">
        <id property="id" column="id"></id>
        <result property="lockName" column="lockName"></result>
        <association property="key" column="key_id" select="com.njzhenghou.mapper.KeyMapper.getKeyById"></association>
    </resultMap>

    <select id="getLockById2" resultMap="lockMap2" resultType="Lock">
        select * from `lock` where id=#{id};
    </select>



    <resultMap id="lockMap" type="Lock">
        <id property="id" column="id"></id>
        <result property="lockName" column="lockName"></result>
        <association property="key" javaType="com.njzhenghou.entity.Key">
            <id property="kid" column="kid"></id>
            <result property="keyName" column="keyName"></result>
        </association>
    </resultMap>
    
    
    <select id="getLockById" resultMap="lockMap" resultType="Lock">
        select * from `key` K left join `lock` L on K.kid = L.key_id where L.key_id=#{id};
    </select>

</mapper>